body{
  margin: 50px auto;
  background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=1380&t=st=1698959796~exp=1698960396~hmac=6a65986365ef8ac54a0a48b624a11022d0bc7b4247d5d535df18efecf87b89ef);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

